/* *{
    border: 1px solid red;
} */

body{
    background-color: aliceblue;
    color: #5A298B;
}
nav{
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: #be95c4;
}

#intro{
    color: #5A298B;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    
}

#headshot{
    border-radius: 7%;
}

#hi{
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 0px;
}
#name{
    font-size: 80px;
    margin-top: 0px;
}
#description{
    font-size: 30px;
}

#header{
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-left: 20px;
}

#headshot{
    margin-top: 20px;
    margin-left: 25px;
}

#current{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
#current i{
    font-size: 60px;
    margin: 10px;
}
#skills{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#future{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
#future i{
    font-size: 60px;
    margin: 10px;
}