/* *{
    border: 1px solid red;
} */

body{
    background-color: #231942;
    color: #e0b1cb;
}
nav{
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    color: #be95c4;
}

nav a:hover{
    color: #5A298B;
}

#intro{
    color: #e0b1cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    
}

#headshot{
    border-radius: 7%;
}

#hi{
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 0px;
}
#name{
    font-size: 80px;
    margin-top: 0px;
}
#description{
    font-size: 30px;
}

#header{
    display: grid;
    grid-template-columns: 1fr 500px;
    margin-left: 20px;
}

#headshot{
    margin-top: 20px;
    margin-left: 25px;
}

#current{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}
#current i{
    font-size: 60px;
    margin: 10px;
}
#skills{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#future{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}
#future i{
    font-size: 60px;
    margin: 10px;
}

#aboutLink{
    text-align: center;
    font-size: 30px;
    background-color: #e0b1cb;
    padding: 25px;
    border-radius: 6.5%;
}

#projectLink{
    text-align: center;
    font-size: 30px;
    background-color: #e0b1cb;
    padding: 25px;
    padding-left:50px;
    padding-right:50px;
    border-radius: 6.5%;
}

#links{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#aboutLink > i{
    font-size: 80px;
}

#projectLink > i{
    font-size: 80px;
}

#aboutLink > h2{
    margin-top: 5px;
    margin-bottom: 0px;
}

#links > a{
    color: #7371FC;
    text-decoration: none;
}

#projectLink > h2{
    margin-top: 5px;
    margin-bottom: 0px;
}

#aboutLink:hover{
    background-color: #be95c4;
}

#projectLink:hover{
    background-color: #be95c4;
}

#mainAbout{
    display: grid;
    font-family: 'Oswald', sans-serif;
    grid-template-columns: 350px 1fr 350px;
    margin-top: 30px;
}

#content{
    display: flex;
    /* align-self: center; */
    align-items: center;
    flex-direction: column;
    background-color: #5e548e;
    padding-top: 20px;
    border-radius: 15%;
    font-size: 20px;
    padding: 10px;
}

#content > img{
    border-radius: 20%;
}

footer{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

footer > a{
    color: #7371FC;
    text-decoration: none;
}

#projects{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.project{
    display: flex;
    flex-direction: row;
}